hopverkefni3-h10/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "hopverkefni3-h10"
		},
		"src_db_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'src_db'"
		},
		"vh_db_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'vh_db'"
		},
		"src_db_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "vgbi2026-trans.duckdns.org"
		},
		"src_db_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "registerdb"
		},
		"src_db_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "h10user"
		},
		"src_products_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://vgbi2026-api.duckdns.org:31234/products/"
		},
		"vh_db_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "vgbi2026-vh.duckdns.org"
		},
		"vh_db_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "vh_h10"
		},
		"vh_db_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "h10user"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/src_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('src_db_properties_typeProperties_server')]",
					"port": "35052",
					"database": "[parameters('src_db_properties_typeProperties_database')]",
					"sslMode": 2,
					"username": "[parameters('src_db_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('src_db_password')]"
					},
					"authenticationType": "Basic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_products')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('src_products_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/vh_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('vh_db_properties_typeProperties_server')]",
					"port": "35053",
					"database": "[parameters('vh_db_properties_typeProperties_database')]",
					"sslMode": 2,
					"username": "[parameters('vh_db_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('vh_db_password')]"
					},
					"authenticationType": "Basic"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_dimproduct_v1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "src_products",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "integer"
						},
						"name": {
							"type": "string"
						},
						"category": {
							"type": "string"
						},
						"cost": {
							"type": "string"
						},
						"price": {
							"type": "string"
						},
						"seasonality_flag": {
							"type": "string"
						},
						"freshness_days": {
							"type": "integer"
						},
						"shelf_life_days": {
							"type": "integer"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/src_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_dimstore_v1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "src_db",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "city",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "country",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "location",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "open_date",
						"type": "date",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "transactions",
					"table": "stores"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/src_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_transaction_sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "src_db",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "date",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "store_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "product_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "unitssold",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "receipt",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "transactions",
					"table": "sales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/src_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_dimcalendar_v1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vh_db",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "trg"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "date",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "year",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "monthno",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "weekno",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "yyyy_mm",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "yyyy_ww",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dayofmonth",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dayofyear",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rowbatchid",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rowcreated",
						"type": "timestamp with time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "dimcalendar_v1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vh_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_dimproduct_v1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vh_db",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "trg"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "category",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cost",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "price",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "seasonality_flag",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "freshness_days",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "shelf_life_days",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rowbatchid",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rowcreated",
						"type": "timestamp with time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "dimproduct_v1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vh_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_dimstore_v1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vh_db",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "trg"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "city",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "country",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "location",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "open_date",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rowbatchid",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "rowcreated",
						"type": "timestamp with time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "dimstore_v1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vh_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimProduct_v1_sub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "batchid",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "rowBatchId",
										"value": {
											"value": "@variables('batchid')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSqlSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category']"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['cost']"
										},
										"sink": {
											"name": "cost",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['price']"
										},
										"sink": {
											"name": "price",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['seasonality_flag']"
										},
										"sink": {
											"name": "seasonality_flag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['freshness_days']"
										},
										"sink": {
											"name": "freshness_days",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['shelf_life_days']"
										},
										"sink": {
											"name": "shelf_life_days",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['rowBatchId']"
										},
										"sink": {
											"name": "rowbatchid",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "src_dimproduct_v1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "trg_dimproduct_v1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Batch Start",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_jobname",
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"direction": "Input"
										},
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": null,
											"direction": "InputOutput"
										}
									],
									"type": "Query",
									"text": "call job.sp_batchstart(@p_jobname, @p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Publish",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "EL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": {
												"value": "@variables('batchid')",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "call staging.sp_dimProduct_v1_publish(@p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Post Process",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Publish",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": {
												"value": "@variables('batchid')",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "call staging.sp_dimProduct_v1_postprocess(@p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Batch End",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Post Process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": {
												"value": "@variables('batchid')",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "call job.sp_batchend(@p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "batchid",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Batch Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "batchid",
							"value": {
								"value": "@activity('Batch Start').output.outputParameters.p_batchid",
								"type": "Expression"
							}
						}
					},
					{
						"name": "batchid output",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "batchid",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "batchid",
									"value": {
										"type": "Expression",
										"content": "@variables('batchid')"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"batchid": {
						"type": "int"
					}
				},
				"variables": {
					"batchid": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "dimProduct"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_dimproduct_v1')]",
				"[concat(variables('factoryId'), '/datasets/trg_dimproduct_v1')]",
				"[concat(variables('factoryId'), '/linkedServices/vh_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimStore_v1_sub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "batchid",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"additionalColumns": [
									{
										"name": "rowBatchId",
										"value": {
											"value": "@variables('batchid')",
											"type": "Expression"
										}
									}
								],
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSqlSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "integer"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "location",
											"type": "String",
											"physicalType": "character varying"
										},
										"sink": {
											"name": "location",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "open_date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "open_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "rowBatchId",
											"type": "String"
										},
										"sink": {
											"name": "rowbatchid",
											"type": "Int32",
											"physicalType": "integer"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_dimstore_v1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "trg_dimstore_v1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Batch Start",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_jobname",
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"direction": "Input"
										},
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": null,
											"direction": "InputOutput"
										}
									],
									"type": "Query",
									"text": "call job.sp_batchstart(@p_jobname, @p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Publish",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "EL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": {
												"value": "@variables('batchid')",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "call staging.sp_dimStore_v1_publish(@p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Post Process",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Publish",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": {
												"value": "@variables('batchid')",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "call staging.sp_dimStore_v1_postprocess(@p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Batch End",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Post Process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": {
												"value": "@variables('batchid')",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "call job.sp_batchend(@p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "batchid",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Batch Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "batchid",
							"value": {
								"value": "@activity('Batch Start').output.outputParameters.p_batchid",
								"type": "Expression"
							}
						}
					},
					{
						"name": "batchid output",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "batchid",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "batchid",
									"value": {
										"type": "Expression",
										"content": "@variables('batchid')"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"batchid": {
						"type": "int"
					}
				},
				"variables": {
					"batchid": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "dimStore"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_dimstore_v1')]",
				"[concat(variables('factoryId'), '/datasets/trg_dimstore_v1')]",
				"[concat(variables('factoryId'), '/linkedServices/vh_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimcalendar_v1_sub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "batchid",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"additionalColumns": [
									{
										"name": "rowBatchId",
										"value": {
											"value": "@variables('batchid')",
											"type": "Expression"
										}
									}
								],
								"query": "SELECT\n    MIN(id)::integer AS id,\n    date,\n    EXTRACT(YEAR FROM date)::int AS year,\n    EXTRACT(MONTH FROM date)::int AS monthNo,\n    EXTRACT(WEEK FROM date)::int AS weekNo,\n    TO_CHAR(date, 'YYYY-MM') AS yyyy_mm,\n    TO_CHAR(date, 'IYYY-IW') AS yyyy_ww,\n    EXTRACT(DAY FROM date)::int AS dayofMonth,\n    EXTRACT(DOY FROM date)::int AS dayofYear,\n    1 AS rowBatchId\nFROM transactions.sales\nGROUP BY date;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSqlSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_transaction_sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "trg_dimcalendar_v1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Batch Start",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_jobname",
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"direction": "Input"
										},
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": null,
											"direction": "InputOutput"
										}
									],
									"type": "Query",
									"text": "call job.sp_batchstart(@p_jobname, @p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Post Process",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Publish",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": {
												"value": "@variables('batchid')",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "staging.sp_dimProduct_v1_postprocess(@p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Publish",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "EL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": {
												"value": "@variables('batchid')",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "staging.sp_dimProduct_v1_publish(@p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Batch End",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Post Process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": {
												"value": "@variables('batchid')",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "call job.sp_batchend(@p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "batchid",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Batch Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "batchid",
							"value": {
								"value": "@activity('Batch Start').output.outputParameters.p_batchid",
								"type": "Expression"
							}
						}
					},
					{
						"name": "batchid output",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "batchid",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "batchid",
									"value": {
										"type": "Expression",
										"content": "@variables('batchid')"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"batchid": {
						"type": "int"
					}
				},
				"variables": {
					"batchid": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "dimcalendar"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_transaction_sales')]",
				"[concat(variables('factoryId'), '/datasets/trg_dimcalendar_v1')]",
				"[concat(variables('factoryId'), '/linkedServices/vh_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimProduct_v1_main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Sub",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "dimProduct_v1_sub",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Batch Fail",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Sub",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": {
												"value": "@activity('Sub').output.pipelineReturnValue.batchid",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "call job.sp_batchfail(@p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Batch Fail End",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Batch Fail",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "@concat('Villa í ', pipeline().Pipeline, ' - Villa:', activity('Sub').error.Message)",
								"type": "Expression"
							},
							"errorCode": "500"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "dimProduct"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/dimProduct_v1_sub')]",
				"[concat(variables('factoryId'), '/linkedServices/vh_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimStore_v1_main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Sub",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "dimStore_v1_sub",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Batch Fail",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Sub",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": {
												"value": "@activity('Sub').output.pipelineReturnValue.batchid",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "call job.sp_batchfail(@p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Batch Fail End",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Batch Fail",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "@concat('Villa í ', pipeline().Pipeline, ' - Villa:', activity('Sub').error.Message)",
								"type": "Expression"
							},
							"errorCode": "500"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "dimStore"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/dimStore_v1_sub')]",
				"[concat(variables('factoryId'), '/linkedServices/vh_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dimcalendar_v1_main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Sub",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "dimcalendar_v1_sub",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Batch fail",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Sub",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "vh_db",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "p_batchid",
											"type": "Int32",
											"value": {
												"value": "@activity('Sub').output.pipelineReturnValue.batchid",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "call job.sp_batchfail(@p_batchid);"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Batch Fail End",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Batch fail",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "@concat('Villa í ', pipeline().Pipeline, ' - Villa:', activity('Sub').error.Message)",
								"type": "Expression"
							},
							"errorCode": "500"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "dimcalendar"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/dimcalendar_v1_sub')]",
				"[concat(variables('factoryId'), '/linkedServices/vh_db')]"
			]
		}
	]
}