pipeline/dimcalendar_v1_sub.json
{
	"name": "dimcalendar_v1_sub",
	"properties": {
		"activities": [
			{
				"name": "EL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "batchid",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"additionalColumns": [
							{
								"name": "rowBatchId",
								"value": "@variables('batchid')"
							}
						],
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzurePostgreSqlSink",
						"writeBatchSize": 1000000,
						"writeBatchTimeout": "00:30:00",
						"writeMethod": "CopyCommand"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "src_transaction_sales",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "trg_dimcalendar_v1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Batch Start",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "vh_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "p_jobname",
									"type": "String",
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "p_batchid",
									"type": "Int32",
									"value": null,
									"direction": "InputOutput"
								}
							],
							"type": "Query",
							"text": "call job.sp_batchstart(@p_jobname, @p_batchid);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Post Process",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Publish",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "vh_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "p_batchid",
									"type": "Int32",
									"value": "@variables('batchid')",
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "staging.sp_dimProduct_v1_postprocess(@p_batchid);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Publish",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "EL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "vh_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "p_batchid",
									"type": "Int32",
									"value": "@variables('batchid')",
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "staging.sp_dimProduct_v1_publish(@p_batchid);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Batch End",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Post Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "vh_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "p_batchid",
									"type": "Int32",
									"value": "@variables('batchid')",
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "call job.sp_batchend(@p_batchid);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "batchid",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Batch Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "batchid",
					"value": {
						"value": "@activity('Batch Start').output.outputParameters.p_batchid",
						"type": "Expression"
					}
				}
			},
			{
				"name": "batchid output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "batchid",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "batchid",
							"value": {
								"type": "Expression",
								"content": "@variables('batchid')"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"batchid": {
				"type": "int"
			}
		},
		"variables": {
			"batchid": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "dimcalendar"
		},
		"annotations": []
	}
}