pipeline/dimcalendar_v1_sub.json
{
	"name": "dimcalendar_v1_sub",
	"properties": {
		"activities": [
			{
				"name": "Batch Start",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "vh_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "p_jobname",
									"type": "String",
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "p_batchid",
									"type": "Int32",
									"value": null,
									"direction": "InputOutput"
								}
							],
							"type": "Query",
							"text": "call job.sp_batchstart(@p_jobname, @p_batchid);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Publish",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "batchid",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "vh_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "p_batchid",
									"type": "Int32",
									"value": {
										"value": "@variables('batchid')",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "public.sp_dimCalendar_generate(@p_batchid);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Batch End",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Publish",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "vh_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "p_batchid",
									"type": "Int32",
									"value": {
										"value": "@variables('batchid')",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "call job.sp_batchend(@p_batchid);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "batchid",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Batch Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "batchid",
					"value": {
						"value": "@activity('Batch Start').output.outputParameters.p_batchid",
						"type": "Expression"
					}
				}
			},
			{
				"name": "batchid output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "batchid",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "batchid",
							"value": {
								"type": "Expression",
								"content": "@variables('batchid')"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"batchid": {
				"type": "int"
			}
		},
		"variables": {
			"batchid": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "dimcalendar"
		},
		"annotations": []
	}
}